.reservations-container {
    display: flex;
    justify-content: center;
    font-family:  -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.reservations-container > div {
    width: 89%;
}

.trips-heading-div {
    margin-top: 30px;
    margin-bottom: 30px;
}


/* No trips header  */

.no-trips-container {
    margin-top: 4rem;
}

.no-trips-header {
    border: 1px solid lightgrey;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    /* grid-template-columns: repeat(3,minmax(0,1fr)); */
    grid-template-columns: 1fr 3fr;
    column-gap: 16px;
    /* height: 270px; */
    min-height: 25rem;
}

.no-trips-content {
    padding: 32px;
    align-self: center;
}

.no-trips-content > * {
    padding-bottom: 20px;
    line-height: 1.5rem;
}

.waving-hand-icon {
    font-size: 3rem;
    color: #1FBEFF;
}

.no-trips-content > h2 {
    font-size: 2rem;
    font-weight: 400;
}

#no-trips-text {
    color: grey;
    font-weight: 200;
}


.no-trips-header-image {
    /* padding: 20em; */
    background-image: url("../../assets/airbnb_reservations_image2.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-color: lightgrey;
    background-clip: border-box;
}

/* Reservations */

.reservations-container h1 {
    font-weight: 500;
    font-size: 40px;
    /* border: 0px 30px; */
}

.reservations-div {
    display: flex;
}

.reservations-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 20px;
}

.reservations-details div {
    padding-top: 5px;
    padding-bottom: 5px;
    color: grey;
    font-weight: 200;
}
.reservations-details > div:first-child {
    font-weight: 700;
    color: black;
}

.reservations-div-image img {
    width: 10em;
    border-radius: 10px;
}

.reservations-div-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.reservations-div-buttons button {
    background-color: #1FBEFF;
    color: white;
    border-radius: 10px;
    width: 20em;
    height: 3em;
}

.reservations-div button:active {
    background-color: #1888b4;
    
}

