.outer-div {
    padding: 30px;
}

.reservation-form-price-reviews {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.outer-div form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

#res-form-button {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #1FBEFF;
    color: white;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 1rem;
}

#res-form-button:hover {
    background-color: #19a9e2;
}

#price-span {
    font-weight: bold;
}

#reviews-span {
    text-decoration: underline;
    font-size: 12px;
}

.reservation-date-input {
    margin-bottom: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
}

#reservation-select-num-guests {
    margin-bottom: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px 0px;
}