#review-create-modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
#review-create-modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#review-create-modal-content {
  position: absolute;
  background-color:white;
  border-radius: 10px;
  padding: 20px;
  font-family:  -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.review-create-cancel-button {
  width: 25px;
  height: 25px;
  border-radius: 100px;
  font-size: 1rem;
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
  padding-top: 2px;
}

.review-create-cancel-button:hover {
background-color: lightgrey;
}

#review-create-title {
  margin: 10px 0px;
  align-self: center;
}

.review-create-errors-ul {
  font-size: 0.7rem;
  color: red;
  margin-bottom: 5px;
}

.review-create-errors-ul > li {
  margin-left: 15px;
  line-height: 1.3em;
  list-style: circle;
}

.review-create-errors-ul:empty {
  display: none;
}

#review-create-rating {
  margin-bottom: 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px 0px;
}

#review-create-rating:hover {
  background-color: rgb(245, 245, 245);
}

#review-create-text {
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  min-height: 8rem;
  text-align: start;
  resize: none;
  margin-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

#review-create-submit-button {
  text-decoration: none;
  border-radius: 5px;
  padding: 15px 0px;
  color: white;
  background-color: #1FBEFF;
  cursor: pointer;
}

#review-create-submit-button:hover {
  background-color: #19a9e2;
}

#review-already-left {
  align-self: center;
  margin-bottom: 30px;
}