.reviews-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid lightgrey;
}

.review-div {
    padding: 20px;
}

.reviews-header {
    display: flex;
    padding-bottom: 20px;
}

.review-profile {
    font-size: 45px;
    padding-right: 10px;
}

#review-button {
    font-size: 24px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}