.listings-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-weight: 300;
    text-decoration: none;
}

.listings-link:link,
.listings-link:visited,
.listings-link:hover,
.listings-link:active {
    color: black;
}

.listings-div {
    /* width: 271px; */
    /* min-width: 250px; */
    min-height: 257px;
    font-size: 15px;
    margin-bottom: 20px;
}

.listings-div span {
    font-weight: 500;
}

.listings-div p {
    margin-top: 10px;
}

.listings-image {
    width: 100%;
    height: 255px;
    border-radius: 10px;
    object-fit: cover;
    object-position: top;
}

.listings-details {
    margin-top: 5%;
}

@media screen and (max-width: 1926px) {
    .listings-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .listings-div {
        min-width: 14%;
    }
}

@media screen and (max-width: 1561px) {
    .listings-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .listings-div {
        min-width: 18%;
    }
}

@media screen and (max-width: 1561px) {
    .listings-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .listings-div {
        min-width: 20%;
    }
}

@media screen and (max-width: 1040px) {
    .listings-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .listings-div {
        min-width: 30%;
    }
}

@media screen and (max-width: 830px) {
    .listings-container {
        grid-template-columns: 1fr 1fr;
    }

    .listings-div {
        min-width: 50%;
    }
}

@media screen and (max-width: 560px) {
    .listings-container {
        grid-template-columns: 1fr;
    }

    .listings-div {
        min-width: 90%;
    }
}