.listings-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    margin-left: 100px;
    font-family:  -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-weight: 200;

}

.listing-div {
    width: 16.6%;
    min-width: 250px;
    height: 257px;
    font-size: 12px;
}

.listing-div span {
    font-weight: 400;
}

.listing-div p {
    margin-top: 10px;
}

.listing-image {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}