/* * {
    border: 1px solid red;
}

.fa-user {
    background-color: blue;
    color: red;
    width: 600px;
    height: 200px;
    border: 1px solid green;
}

.fa-solid {
    background-color: blue;
    color: red;
    width: 600px;
    height: 200px;
    border: 1px solid green;
} */

/* .profile {
    width: 20px;
    height: 20px;
    color: green;
    background-color: red;
    border-radius: 10px;
} */