ul {
    display: flex;
    justify-content: space-between;
}

.logo-div {
    display: flex;
    align-items: center;
    color: #1FBEFF;
}

.logo {
    width: 32px;
    height: 32px;
}

.logo-div p {
    font-weight: 900;
    font-size: 24px;
    font-family:  -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;;
}

.profile-icon {
    width: 20px;
    height: 20px;
}